#Login {
    margin: 150px auto; 
    width: 300px;
    border: 1px solid #3498db;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #ecf0f1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  
  #Login form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px auto; 
  }
  
  #Login label {
    text-align: left;
    margin-bottom: 5px;
  }
  
  #Login input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 30%;
    height: 30px;
    background-color: #3498db; 
    border: 1px solid #2980b9;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px; 
  }
  
  .login-button:hover {
    background-color: #2980b9; 
  }
  
  #Login h1 a {
    color: #3498db; 
  }
  
  #Login h1 a:hover {
    color: #2980b9; 
  }