div.retirada-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  
form {
  display: flex;
  flex-direction: column;
}
  
  
label {
  margin-bottom: 8px;
  display: block;
}
  
  
textarea,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; 
}
  
  
label:last-child {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}
  
  
input[type="radio"] {
  margin-right: 10px;
}
  
  
button {
  background-color: #02337c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
  
button:hover {
  background-color: #1f69f3;
}
  
  
.historico-pedidos {
  margin-top: 20px;
}

.radio-options {
  display: flex;
  justify-content: space-between;
}

.radio-label {
  display: flex;
  align-items: center;
}